body {
    font-family: sans-serif;
    background-color: #070719;
    
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
    background-color: #070719;
}

.button {
    background-color: #A9A9F5;
    color: black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 0px;
    justify-content: center;
}

nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 25px 25px 25px 25px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}
h2 {color: white;
margin-left: 50px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 10px;
    display: flex;
    background-color:#070719 ;
    justify-content: space-around;
}

article {
    background-color: #070719;
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    
    background-color: #A9A9F5;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-radius: 7px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 0px;
}

footer {
    background-color: #070719;
    padding: ;
    display: flex;
}

footer a {
    margin-right: 10px;
}

footer p {
    background-color: #A9A9F5;
    color: black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
}
